################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COMP2139_Labs/.vs/COMP2139_Labs/FileContentIndex/03ba18a7-cad5-4695-989c-f545631d3806.vsidx
/COMP2139_Labs/.vs/COMP2139_Labs/FileContentIndex
